# Automate & Scraping
playwright
requests
beautifulsoup4
cloudscraper

# Data manipulation
pandas

# PDF & Text Processing
PyMuPDF
Pillow
pdf2image

# OCR & Machine Learning
torch
torchvision
easyocr
paddleocr
